name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y cmake ninja-build

    - name: Configure CMake
      run: cmake -B build -S . -G Ninja

    - name: Build
      run: cmake --build build --config Release
